Body {
Background-image:url("a2.jpg"); /*#dccbb5;/*rgb(219, 255, 255);/*rgb(224, 245, 246); 	*/
background-size:contain/* a imagen de fundo não vai passar o tamnho da div(conteiner) de onde foi usado  */;

background-size:100%;
color:white;
}
Html {

overflow-x:hidden;
	
	
}
#Gzaa{

background:#000000a1;	
	
}
#Gza{
margin-left: 15%;
margin-right: 15%;
margin-top: 3%;
background:no-background;	
	
}
* {
margin:0% ;
padding: 0% ;	
	
}
#teste{
	
	margin-top:1%;
	float:left;
	width:20%;
	
	
}
#teste img{
	width:100%;
	
	
	
	
}
#qza{
	width:80%;
	font-family: Century, helvetica, sans-serif;
	font-size:1000%;
	text-shadow:2.33px 2.33px black;
	float:right;
 top:10px;
 z-index:2;
	margin-top:3%;
	
	
}
.menu {  
	width:80%;
	font-family:font-family: Century, helvetica, sans-serif;
	text-shadow:2.33px 2.33px black;
	float:right;

 z-index:3;
}

.menu ul {
	list-style: none;
	position:relative;
	
	
	
}

.menu ul li {
	
	width:15%;
	float:left;
	margin:1%;
	
	
}
.menu ul li ul  {
	
	width:14.6%;
	float: left;
	
	
	
}
.menu ul li ul li {
	
	width:100%;
	float: left;
}
.menu a{
	padding: 1%;
	display:block;
	text-decoration: none;
	text-align: center;
	background-color:no-background;
	color:white;
	font-Size:145%;
 
}
.menu ul ul {
	position: absolute;
	visibility: hidden;
	
}
.menu ul li:hover ul{
	visibility:visible
	
	
}
.menu a:hover {
	 background-color:#c72626;
	color: white; 
	
}
.menu ul ul li {
	float:none;
	border-bottom: solid 1% #ccc;
}
.menu ul ul li a{
	background-color: no-background;
	
	
}
.menu .active {
  background-color:no-background;
}
.menu .active2 {
  background-color:no-background;
}
.menu2 {  
	width:100%;
	font-family:font-family: Century, helvetica, sans-serif;
	text-shadow:2.33px 2.33px black;
	float:right;
 background:#ffffff73;
 z-index:3;
}

.menu2 ul {
	list-style: none;
	position:relative;
	
	
	
}
.menu2 a{
	padding: 0.3%;
	display:block;
	text-decoration: none;
	text-align: center;
	background-color:no-background;
	color:white;
	font-Size:135%;
 
}
.menu2 ul ul {
	position: absolute;
	visibility: hidden;
	
}
.menu2 ul li:hover ul{
	visibility:visible
	
	
}
.menu2 a:hover {
	 background-color:#c72626;
	color: white; 
	
}
.menu2 ul ul li {
	float:none;
	border-bottom: solid 1% #ccc;
}
.menu2 ul ul li a{
	background-color: no-background;
	
	
}
.menu2 .active {
  width:17%;
	float:right;
	margin:1%;
}

.menu2 .active3 {
  width:17%;
	float:left;
	margin:1%;
}


.menu2 .active2 {
  background-color:no-background;
   float:right;
}


            #topo{
                width: 100%; /*largura*/
                height: 30%; /*altura*/
                /*alinhamento do texto*/
                clear: both; /*não permite elementos flutuantes ao lado*/
                background-color:#000000a1; /*#f7df8f;/* #dccbb5;/*rgb(136, 206, 250); /*cor de fundo*/
			
            }
			
			
	
	
#meio{
width: 100%; /*largura*/
background-color:no-background ; /*#f7df8f;/*#f7df8f;/*#dccbb5;/*rgb(180, 199, 255);/*rgb(136, 206, 250);/*rgb(177, 213, 255);/*rgb(201, 235, 246);rgb(233, 246, 242); /*cor de fundo*/
height: 300%; /*altura*/
}
#meio3{
width: 100%; /*largura*/
background-color:#000000a1 ; /*#f7df8f;/*#f7df8f;/*#dccbb5;/*rgb(180, 199, 255);/*rgb(136, 206, 250);/*rgb(177, 213, 255);/*rgb(201, 235, 246);rgb(233, 246, 242); /*cor de fundo*/
height: 0.5%; /*altura*/
}
#meio31{
width: 100%; /*largura*/
background-color:no-background ; /*#f7df8f;/*#f7df8f;/*#dccbb5;/*rgb(180, 199, 255);/*rgb(136, 206, 250);/*rgb(177, 213, 255);/*rgb(201, 235, 246);rgb(233, 246, 242); /*cor de fundo*/
height: 2%; /*altura*/
}
#meio4{
width: 100%; /*largura*/
background-color:no-background ; /*rgba(104, 190, 232,0.29) ; /*#f7df8f;/*#f7df8f;/*#dccbb5;/*rgb(180, 199, 255);/*rgb(136, 206, 250);/*rgb(177, 213, 255);/*rgb(201, 235, 246);rgb(233, 246, 242); /*cor de fundo*/
height: 96%; /*altura*/
}


	   #Titulo{
float:left;/*espaço entre a borda e o conteúdo do elemento*/
width: 98%; /*largura*/
padding:1%;
float:left; /*define que o elemento deve flutuar à esquerda*/
background-color:#ffffff5c;/*#f7df8f;/*#f7df8f;/*#dccbb5;/*rgb(205, 225, 246); /*rgb(233, 246, 242); /*cor de fundo*/
height:auto;
line-height:40%;
text-align:center
	   }
			   
			   
#lateral{
 float:right; /*define que o elemento deve flutuar à direita*/
 background-color: #2b2929; /*cor de fundo*/
padding:1%;
margin:1%;
 width: 21%; /*largura*/
 height:20%;
 color:white;
 border-left:1% solid #bf9257;
 text-shadow:2px 2px black;	
} 





#conteudo{
 float:left;/*espaço entre a borda e o conteúdo do elemento*/
width: 98%; /*largura*/
padding:1%;
float:left; /*define que o elemento deve flutuar à esquerda*/
background-color:no-background ;/*#f7df8f;/*#f7df8f;/*#dccbb5;/*rgb(205, 225, 246); /*rgb(233, 246, 242); /*cor de fundo*/
height:40%;
text-align:Justify
            }
			



            #rodape{
          
				clear: both; /*não permite elementos flutuantes ao lado*/
                text-align: center; /*alinhamento do texto*/
                padding: 1%; /*espaço entre a borda e o conteúdo do elemento*/
                background-color: #000000a1; /*cor de fundo*/
						color:white;
							margin: 0%;
							height:130;
            text-shadow:1.33px 1.33px black;
			margin-bottom:6%;
			}

			#rodape div {
				width:50%;
				float:left;
				
                 /*cor de fundo*/
						color:white;
				margin: 0%
				
			}
			   
 	#rodape div  h1{ text-shadow:1.33px 1.33px black;
	font-size:120%;
	color: rgb(104, 190, 232);
	
	}
				

           
			 #rodape h2 {
			 font-family:arial;
			 font-Size:10px;
			 Text-align:Justify;
			
			 width: 50%; 
			}
			 #rodape  h3{
			 font-family:arial;
			 font-Size:10px;
			 Text-align:Justify;
			 Float:Right;
			
			 width: 50%; 
		}
		
		
		
	.T2 {
	color:white ;
    Font-size: 140%;
text-shadow: 1.33px 1.33px black;	
	}
	.CoresTexto2 {
	color: Black;
    Font-size: 140%;	
	}
	.T1 {
	color: rgb(104, 190, 232);
    Font-size: 140%;	
	text-shadow: 1.33px 1.33px black;
	}
    .Texto {
	color: #dcb5da;
Font-size: 100%;
text-decoration: None;
	
	}
	
	/* lateral */
	
.T1l {
	text-align:center;
font-Size:125%;
	color: white;
    Font-size: 140%;
text-shadow: 1.33px 1.33px black;

font-weight: bold
	}	

				
 #Formulario{
padding: 1%; /*espaço entre a borda e o conteúdo do elemento*/
width: 78.3%; /*largura*/
float:left; /*define que o elemento deve flutuar à esquerda*/
background-color:#b5dcb8;/*rgb(205, 225, 246); /*rgb(233, 246, 242); /*cor de fundo*/

text-align:Justify
            }
			
			/* probleminha :(  
			
			Para isso vamos usar o :nth-child, o seletor de filhos do CSS em que iremos estilizar os elementos de acordo com a ordem em que eles se apresentam dentro de um elemento pai em comum
			O ::before pseudoelemento pode ser usado para inserir algum conteúdo antes do conteúdo de um elemento.
			O ::after pseudoelemento pode ser usado para inserir algum conteúdo após o conteúdo de um elemento.
			*/
			
#conteudo .gallery {

  margin-top:20%;
  transform: translateY(50%);  /*ele define tipo um margin*/
  width: 100%;
  height: 40%;
  max-height: 28vw;
  overflow: hidden;
}

#conteudo .gallery__stream {
  position: relative;
 
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

#conteudo .gallery__item {
  position: absolute;
  width: 50%;
  height: 100%;
  transition: 1s all ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5%; /*deixa a borda redonda*/
}
/* aqui fica dificil substituir */
#conteudo .gallery__item:nth-child(1) {
  left: 0;
  z-index: 1;
  transform: translateX(-100%) scale(.8);
}

#conteudo .gallery__item:nth-child(2) {
  left: 0;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}

#conteudo .gallery__item:nth-child(3) {
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) scale(1);
}

#conteudo .gallery__item:nth-child(4) {
  left: 100%;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}
#conteudo .gallery__item:nth-child(5) {
  left: 100%;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}
#conteudo .gallery__item:nth-child(n+5) {
  left: 100%;
  z-index: 1;
  transform: scale(.8);
}



#conteudo .bg-1 {
  background-image: url("a.jpg");
}

#conteudo .bg-2 {
  background-image: url("a2.jpg");
}

#conteudo .bg-3 {
  background-image: url("a3.jpg");
}

#conteudo .bg-4 {
  background-image: url("a4.jpg");
}

#conteudo .bg-5 {
  background-image: url("a5.jpg");
}

#conteudo .bg-6 {
  background-image: url("a4.jpg");
}

#conteudo .bg-7 {
  background-image: url("a3.jpg");
}

#conteudo .gallery__prev,
#conteudo .gallery__next {
  position: absolute;
  top: 50%;
  z-index: 4;
  width: 50%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%) scale(.8);
  cursor: pointer;
}

#conteudo .gallery__prev {
  left: 0; 
}

#conteudo .gallery__next {
  left: 100%;
}
#conteudo .gallery:before,
#conteudo .gallery:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 3;
}

#conteudo .gallery:before {
  left: 0;
  background:  linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

#conteudo .gallery:after {
  right: 0;
  background:  linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}



/*   mais probleminha*/

	.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 40%;
  position: relative;
  margin: 50% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 10px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}
	#Popup{
	background:#1616ff61;
	
	}
	
	/*   mais probleminha*/

	.modalDialog2 {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog2:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog2 > div {
  width: 40%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close2 {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 10px 1px 3px #000;
}
.close2:hover {
  background: #00d9ff;
}
	#Popup2{
	background:#1616ff61;
	
	}
	/*   mais probleminha*/

	.modalDialog3 {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog3:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog3 > div {
  width: 40%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close3 {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 10px 1px 3px #000;
}
.close3:hover {
  background: #00d9ff;
}
	#Popup3{
	background:#1616ff61;
	
	}