.div300 {
	width:100%;
	
	height:80%;
	position:absolute;
	background:#f7c27585;
	padding:0;
	display:block;
	z-index:200;
}
 
 
 
 #lateral21 table { float:Left; 
width:100%; 

border-collapse:collapse; 
background:#fff; 

line-height:1.5; 
color:#000; 
font-size:smaller;

 }		
#lateral21 table tr  {

} 
#lateral21 table tr th img {
width:100%;

} 
#lateral21 table tr th #bacarau {
	
	width:80%;
	
}
#lateral21 table tr td {
padding:4px
}
			   
#lateral21{
 float:right; /*define que o elemento deve flutuar à direita*/
 background-color: no-background;/*rgb(201, 210, 246); /*cor de fundo*/
 padding: 05px; /*espaço entre a borda e o conteúdo do elemento*/
 width: 30% /*largura*/;
 height:75%;
  }
   #conteudo21{
padding: 10px; /*espaço entre a borda e o conteúdo do elemento*/
width: 65%; /*largura*/
float:left; /*define que o elemento deve flutuar à esquerda*/
background-color:no-background;/*rgb(205, 225, 246); /*rgb(233, 246, 242); /*cor de fundo*/
text-align:Justify;

	height:38%;

	border-radius:3px ;
            }


 #Titulo{
float:left;/*espaço entre a borda e o conteúdo do elemento*/
width: 100%; /*largura*/
padding:1%;
float:left; /*define que o elemento deve flutuar à esquerda*/
background-color:#000000a1;/*#f7df8f;/*#f7df8f;/*#dccbb5;/*rgb(205, 225, 246); /*rgb(233, 246, 242); /*cor de fundo*/
height:auto;
line-height:40%;
text-align:center
	   }
.T1 {
	color: rgb(104, 190, 232);
    Font-size: 140%;	
	text-shadow: 1.33px 1.33px black;
	}	   


#lateral20{
 float:right; /*define que o elemento deve flutuar à direita*/
 background-color: #2b2929; /*cor de fundo*/
padding:1%;
margin:1%;

 width: 31%; /*largura*/
 height:38%;
 color:white;
 border-left:1% solid #bf9257;
 text-shadow:2px 2px black;	
 border-radius:12px 12px 12px 12px;
}

#lateral20 .div1{
	
	float:left;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
     border:1px solid white;
	
	
}
#lateral20 p{
	
	
	text-align:center;
	
	
	
}
#lateral20 .div2{
	margin-top:133%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral20 .div4{
	margin-top:150%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral20 .div5{
	margin-top:100%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral20 .div51{
	float:bottom;
	text-align:center;
	background:black;
	width:90%;
	height:16%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:400;
  text-decoration:none;
  font-size:140%;
  margin-left:5%;
   margin-right:5%;
  border: 2px solid white;
}

#lateral20 .div51 a{
color:white;
text-decoration:none;


}
#lateral20 .div51 a:hover{
color:red;
text-decoration:none;


}
#lateral20 .div51:hover{
	

color:red;
	transition: color 1s;

}
#lateral20 .div511{
	margin-top:0%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:20%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}

#lateral20 .div511 a{
color:white;
text-decoration:none;


}
#lateral20 .div511 a:hover{
color:red;
text-decoration:none;


}
#lateral20 .div511:hover{
	

color:red;
	transition: color 1s;

}
#lateral20 .div52{
	margin-top:10%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}
#lateral20 .div52 a{
color:white;
text-decoration:none;


}
#lateral20 .div52 a:hover{
color:red;
text-decoration:none;


}
#lateral20 .div52:hover{
	

color:red;
	transition: color 1s;

}

#lateral0{
 float:right; /*define que o elemento deve flutuar à direita*/
 background-color: #2b2929; /*cor de fundo*/
padding:1%;
margin:1%;

 width: 31%; /*largura*/
 height:300px;
 color:white;
 border-left:1% solid #bf9257;
 text-shadow:2px 2px black;	
 border-radius:12px 12px 12px 12px;
} 
#lateral0 .div1{
	
	float:left;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
     border:1px solid white;
	
	
}
#lateral0 p{
	
	
	text-align:center;
	
	
	
}
#lateral0 .div2{
	margin-top:133%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral0 .div4{
	margin-top:150%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral00 .div5{
	margin-top:100%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral0 .div51{
	margin-top:20%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}
#lateral0 .div510{
	margin-top:100%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}

#lateral0 .div51 a{
color:white;
text-decoration:none;


}
#lateral0 .div51 a:hover{
color:red;
text-decoration:none;


}
#lateral0 .div51:hover{
	

color:red;
	transition: color 1s;

}
#lateral0 .div52{
	margin-top:10%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}
#lateral0 .div52 a{
color:white;
text-decoration:none;


}
#lateral0 .div52 a:hover{
color:red;
text-decoration:none;


}
#lateral0 .div52:hover{
	

color:red;
	transition: color 1s;

}










#lateral01{
 float:right; /*define que o elemento deve flutuar à direita*/
 background-color: #2b2929; /*cor de fundo*/
padding:1%;
margin:1%;

 width: 31%; /*largura*/
 height:500px;
 color:white;
 border-left:1% solid #bf9257;
 text-shadow:2px 2px black;	
 border-radius:12px 12px 12px 12px;
} 
#lateral01 .div1{
	
	float:left;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
     border:1px solid white;
	
	
}
#lateral01 p{
	
	
	text-align:center;
	
	
	
}
#lateral01 .div2{
	margin-top:133%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral01 .div4{
	margin-top:150%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral001 .div5{
	margin-top:100%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral01 .div51{
	margin-top:20%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}
#lateral01 .div510{
	margin-top:100%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}

#lateral01 .div51 a{
color:white;
text-decoration:none;


}
#lateral01 .div51 a:hover{
color:red;
text-decoration:none;


}
#lateral01 .div51:hover{
	

color:red;
	transition: color 1s;

}
#lateral01 .div52{
	margin-top:10%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}
#lateral01 .div52 a{
color:white;
text-decoration:none;


}
#lateral01 .div52 a:hover{
color:red;
text-decoration:none;


}
#lateral01 .div52:hover{
	

color:red;
	transition: color 1s;

}

#lateral012{
 float:right; /*define que o elemento deve flutuar à direita*/
 background-color: #2b2929; /*cor de fundo*/
padding:1%;
margin:1%;

 width: 31%; /*largura*/
 height:300px;
 color:white;
 border-left:1% solid #bf9257;
 text-shadow:2px 2px black;	
 border-radius:12px 12px 12px 12px;
} 
#lateral012 .div1{
	
	float:left;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
     border:1px solid white;
	
	
}
#lateral012 p{
	
	
	text-align:center;
	
	
	
}
#lateral012 .div2{
	margin-top:133%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral012 .div4{
	margin-top:150%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral0012 .div5{
	margin-top:100%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral012 .div51{
	margin-top:20%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}
#lateral012 .div510{
	margin-top:100%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}

#lateral012 .div51 a{
color:white;
text-decoration:none;


}
#lateral012 .div51 a:hover{
color:red;
text-decoration:none;


}
#lateral012 .div51:hover{
	

color:red;
	transition: color 1s;

}
#lateral012 .div52{
	margin-top:10%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}
#lateral012 .div52 a{
color:white;
text-decoration:none;


}
#lateral012 .div52 a:hover{
color:red;
text-decoration:none;


}
#lateral012 .div52:hover{
	

color:red;
	transition: color 1s;

}



#conteudo{
 float:left;/*espaço entre a borda e o conteúdo do elemento*/
width: 98%; /*largura*/
padding:1%;
float:left; /*define que o elemento deve flutuar à esquerda*/
background-color:no-background ;/*#f7df8f;/*#f7df8f;/*#dccbb5;/*rgb(205, 225, 246); /*rgb(233, 246, 242); /*cor de fundo*/
height:40%;
text-align:Justify
            }

		
	
    
			

 
@media screen and (max-width: 1610px) and (min-width: 1500px) {
 
 #lateral21{


  }
 #lateral{

 height:80%
  }
 #lateral0 {
	  
	  height:500px
	  
  }

#lateral .div52{
	margin-top:20%;
	height:5%;

}
#lateral .div51{
	height:5%;
	

}
#lateral .div1{
	



 
	height:5%;
	
}

#lateral .div2{
	margin-top:153%;
	height:5%;
	
	
}
}
#secao1311 {
    background-color: black;
   height:800px;
	   
	
}

#secao131 {
    background-color: black;
   height:500px;
	   
	
}
#secao1311 {
    background-color: black;
   height:800px;
	   
	
}
#secao132 {
    background-color: black;
   height:750px;
	   
	
}
#secao1322 {
    background-color: black;
   height:350px;
	   
	
}

#Popup .popupsec #secao131 {
	width:100%;
	height:100%;

	
}

#Popup .popupsec {
	width:95%;
	height:95%;
	position:absolute;
	margin-top:1.5%;
	margin-bottom:2.5%;
	
}
#Popup .popupsec #secao131  #conteudo21{
padding: 10px; /*espaço entre a borda e o conteúdo do elemento*/
width: 98%; /*largura*/
float:left; /*define que o elemento deve flutuar à esquerda*/
background-color:no-background;/*rgb(205, 225, 246); /*rgb(233, 246, 242); /*cor de fundo*/
text-align:Justify;

	height:67%;

	border-bottom:3px solid white;
            }
			#Popup .popupsec #secao131  #conteudo211{
padding: 10px; /*espaço entre a borda e o conteúdo do elemento*/
width: 98%; /*largura*/
float:left; /*define que o elemento deve flutuar à esquerda*/
background-color:no-background;/*rgb(205, 225, 246); /*rgb(233, 246, 242); /*cor de fundo*/
text-align:Justify;

	height:27%;

	border-bottom:3px solid white;
            }


	.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 80%;
  height:95%;
  position: relative;
  margin: 2% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 10px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}
	#Popup{
	background:#440067;
	
	}
	
	
	
#lateral20_1{
 float:right; /*define que o elemento deve flutuar à direita*/
 background-color: #2b2929; /*cor de fundo*/
padding:1%;
margin:1%;

 width: 48%; /*largura*/
 height:95%;
 color:white;
 border-left:1% solid #bf9257;
 text-shadow:2px 2px black;	
 border-radius:12px 12px 12px 12px;
}

#lateral20_1 .div1{
	
	float:left;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
     border:1px solid white;
	
	
}
#lateral20_1 p{
	
	
	text-align:center;
	
	
	
}
#lateral20_1 .div2{
	margin-top:133%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral20_1 .div4{
	margin-top:150%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral20_1 .div5{
	margin-top:100%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral20_1 .div51{
	float:bottom;
	text-align:center;
	background:#f7c275;
	width:100%;
	height:20%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:400;
  text-decoration:none;
  font-size:140%;

  border: 2px solid white;
}

#lateral20_1 .div51 a{
color:white;
text-decoration:none;


}
#lateral20_1 .div51 a:hover{
color:red;
text-decoration:none;


}
#lateral20_1 .div51:hover{
	

color:red;
	transition: color 1s;

}
#lateral20_1 .div511{
	margin-top:0%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:20%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}

#lateral20_1 .div511 a{
color:white;
text-decoration:none;


}
#lateral20_1 .div511 a:hover{
color:red;
text-decoration:none;


}
#lateral20_1 .div511:hover{
	

color:red;
	transition: color 1s;

}
#lateral20_1 .div52{
	margin-top:10%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}
#lateral20_1 .div52 a{
color:white;
text-decoration:none;


}
#lateral20_1 .div52 a:hover{
color:red;
text-decoration:none;


}
#lateral20_1 .div52:hover{
	

color:red;
	transition: color 1s;

}


         
	
	
	
	
#lateral20_11{
 float:right; /*define que o elemento deve flutuar à direita*/
 background-color: #2b2929; /*cor de fundo*/
padding:1%;
margin:1%;

 width: 98%; /*largura*/
 height:95%;
 color:white;
 border-left:1% solid #bf9257;
 text-shadow:2px 2px black;	
 border-radius:12px 12px 12px 12px;
}

#lateral20_11 .div1{
	
	float:left;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
     border:1px solid white;
	
	
}
#lateral20_11 p{
	
	
	text-align:center;
	
	
	
}
#lateral20_11 .div2{
	margin-top:133%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral20_11 .div4{
	margin-top:150%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral20_11 .div5{
	margin-top:100%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border:1px solid white;
	
}
#lateral20_11 .div51{
	float:bottom;
	text-align:center;
	background:#f7c275;
	width:100%;
	height:20%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:400;
  text-decoration:none;
  font-size:140%;

  border: 2px solid white;
}

#lateral20_11 .div51 a{
color:white;
text-decoration:none;


}
#lateral20_11 .div51 a:hover{
color:red;
text-decoration:none;


}
#lateral20_11 .div51:hover{
	

color:red;
	transition: color 1s;

}
#lateral20_11 .div511{
	margin-top:0%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:20%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}

#lateral20_11 .div511 a{
color:white;
text-decoration:none;


}
#lateral20_11 .div511 a:hover{
color:red;
text-decoration:none;


}
#lateral20_11 .div511:hover{
	

color:red;
	transition: color 1s;

}
#lateral20_11 .div52{
	margin-top:10%;
	float:bottom;
	text-align:center;
	background:black;
	width:100%;
	height:10%;
color:white;
	border-radius:3px ;
	font-family:"raleway";
	font-weight:600;
  text-decoration:none;
}
#lateral20_11 .div52 a{
color:white;
text-decoration:none;


}
#lateral20_11 .div52 a:hover{
color:red;
text-decoration:none;


}
#lateral20_11 .div52:hover{
	

color:red;
	transition: color 1s;

}


      